/* basic parameters */

:root{
    /* font */
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    /* color */
    --mine-txt-cl: #757575;
    --secondary-txt-cl: #212121;
    --white-txt-cl: #ffffff;
    --logo-txt-cl: #000000;
    --footer-cont-txt-cl: rgba(255, 255, 255, 0.6);
    --accent-cl: #2196F3;
    --bgr-mine-cl: #ffffff;
    --bgr-secondary-cl: #2F303A;
    --bgr-accent-cl: #F5F4FA;
    --portfolio-card-cl: #EEEEEE;
}

/* body */

body {
    font-family: var(--main-font);
    color: var(--mine-txt-cl);
    background-color: var(--bgr-mine-cl);
    font-size: 14px;
    letter-spacing: 00.03em;
}

.page-header {
    border-bottom: #ECECEC solid 1px;
}

/* logo */

.logo {
    font-family: var(--secondary-font);
    color: var(--logo-txt-cl);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-header {
    color: var(--accent-cl);
}

/* header nav menu/auth */

.link.current {
    color: var(--accent-cl);
}

.menu-nav {
    color:var(--secondary-txt-cl);
}

.auth-nav {
    color: var(--mine-txt-cl);
}

.menu-nav, .auth-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
}

.menu-nav .link:hover, .menu-nav .link:focus,
.auth-nav .link:hover, .auth-nav .link:focus {
    color: var(--accent-cl);
}

/* mine */

.hero-section {
    background-color: #2F303A;
}

.hero-title {
    color: var(--white-txt-cl);
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.btn {
    background-color: var(--accent-cl);
    color: var(--white-txt-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);   
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;
}

.btn:hover,
.btn:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;  
}

.btn-two {
    color: var(--secondary-txt-cl);
    background-color: var(--bgr-accent-cl);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;
}

.btn-two:hover,
.btn-two:focus {
    color: var(--white-txt-cl);
    background-color: var(--accent-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* title */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);
}

/* features section */

/*.features-title, 
.project-title {
    display: none;
}*/

.features-subtitle {
    color:var(--bgr-secondary-cl);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}

/* our command section */

.section-command {
    background-color: var(--bgr-accent-cl);
}

.command-item {
    background-color: var(--bgr-mine-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
}

.command-subtitle {
    color: var(--secondary-txt-cl);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
}

.command-text {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em
}

/* enable default link/list options */

.link {
    color: currentColor;
    text-decoration: none;
}

.link:current {
    color: var(--accent-cl);
}

.list {
    list-style: none;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* page portfolio */

.portfolio-title {
    color: var(--secondary-txt-cl);
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
}

.portfolio-text {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
}

.mine-portfolio li {
    border: 1px solid var(--portfolio-card-cl);
    width: 370px;
}
    
/* footer*/

.page-footer {
    background-color: var(--bgr-secondary-cl);
}
.logo-footer {
    color:var(--white-txt-cl);
}

address {
    font-style: unset;
}

.addr-item {
    color:var(--footer-cont-txt-cl);
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em
}
 
a[href="https://goo.gl/maps/suJbWfzHYKnnb4QdA"]
{
    color: var(--white-txt-cl);
}

.addr-item .link:hover,
.addr-item .link:focus 
 {
    color: var(--accent-cl);
}

